{% extends 'patient_template.html.twig' %}

{% block title %} AlloDocteur - Fiches {% endblock %}

{% block body %}

  <div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Liste de toutes les fiches</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Patient</th>
                  <th>Personnel</th>
                  <th>Dossier</th>
                  <th>Service</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for fiche in fiches %}
                  <tr>
                    <td>{{ fiche.patient }}</td>
                    <td>{{ fiche.personnel }}</td>
                    <td>{{ fiche.dossier }}</td>
                    <td>{{ fiche.service }}</td>
                    <td>
                      <a href="{{ path("fiche_detail", {id: fiche.id}) }}" class="btn btn-primary">Voir</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}