{% extends 'admin_template.html.twig' %}

{% block title %}ApproManager - Ajouter Personnel{% endblock %}

{% block body %}

  <!-- partial -->
  <div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Formulaire d'ajout d'un personnel</h4>
            <p class="card-description">
              Remplir ce formulaire
            </p>
            {{ form_start(form, {'attr': {
              'class':'forms-sample',
            }}) }}
            <div class="form-group">
              {{ form_label(form.nom_personnel) }}
              {{ form_widget(form.nom_personnel, {'attr': {
                'class':'required form-control',
              }}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.postnom_personnel) }}
              {{ form_widget(form.postnom_personnel, {'attr': {
                'class':'required form-control',
              }}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.prenom_personnel) }}
              {{ form_widget(form.prenom_personnel, {'attr': {
                'class':'required form-control',
              }}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.description_personnel) }}
              {{ form_widget(form.description_personnel, {'attr': {
                'class':'required form-control',
              }}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.email) }}
              {{ form_widget(form.email, {'attr': {
                'class':'required form-control',
              }}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.password) }}
              {{ form_widget(form.password, {'attr': {
                'class':'required form-control',
              }}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.fonction) }}
              {{ form_widget(form.fonction, {'attr': {
                'class':'required form-control',
              }}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.specialite) }}
              {{ form_widget(form.specialite, {'attr': {
                'class':'required form-control',
              }}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.num_ordre) }}
              {{ form_widget(form.num_ordre, {'attr': {
                'class':'required form-control',
              }}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.telephone_personnel) }}
              {{ form_widget(form.telephone_personnel, {'attr': {
                'class':'required form-control',
              }}) }}
            </div>

            {{ form_widget(form.editer, {'attr': {'class':'btn btn-primary'}}) }}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}