{% extends 'admin_template.html.twig' %}

{% block title %} AlloDocteur - Personnels {% endblock %}

{% block body %}

  <div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Liste de notre personnel</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Noms</th>
                  <th>Description</th>
                  <th>Fonction</th>
                  <th>Téléphone</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for personnel in personnels %}
                  <tr>
                    <td>{{ personnel.nom_personnel }} {{ personnel.postnom_personnel }} {{ personnel.prenom_personnel }}</td>
                    <td>{{ personnel.description_personnel }}</td>
                    <td>{{ personnel.fonction }}</td>
                    <td>{{ personnel.telephone_personnel }}</td>
                    <td>
                      <a href="" class="btn btn-primary">Voir</a>
                      <a href="{{ path("editer_personnel", {id: personnel.id}) }}" class="btn btn-primary">Modifier</a>
                      <a href="" class="btn btn-primary">Supprimer</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}